@font-face {
    font-family: Unica_One;
    src: url(/fonts/Unica_One_New/UnicaOne-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lora;
    src: url(/fonts/Lora/Lora-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(image.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}

main {
    min-height: 100vh;
}

h3, p {
    color: white;
    text-shadow: 2px 2px hsla(0, 0%, 0%, 0.5);
}

h3{
    font-family: Unica_One;
    font-size: 27px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 0px;
}

p {
    margin: 10px;
    font-family: Lora;
}

#line {
    background-color: rgba(0, 0, 0, 0.5);
    width: 550px;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.estimate {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 15px;
    color: rgb(201, 201, 201);
}

#ctimezone {
    margin-top: 0;
    padding-top: 20px;
    text-align: right;
}

.title {
    text-transform: uppercase;
    margin-top: 40px;
}

.time {
    font-size: 25px;
    text-align: center;
}

#counts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timezone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}